! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.width: 60
rofi.padding: 50
rofi.fuzzy: true
rofi.eh: 2
rofi.separator-style: none
rofi.fixed-num-lines: true
rofi.lines: 10
rofi.mesg: ' '
rofi.color-enabled: true
rofi.color-window: argb:AA000000, argb:77000000
rofi.color-normal: argb:00000000, #C1C1C1, argb:00000000, argb:00000000, #4D97F5
rofi.color-active: argb:00000000, #91D687, argb:00000000, argb:00000000, #5ADB48
rofi.color-urgent: argb:00000000, #FF1844, argb:00000000, argb:00000000, #FF1844
rofi.hide-scrollbar: true
rofi.bw: 5
rofi.font: Inconsolata for Powerline 12
rofi.fake-transparency: true
